body{
    margin: 0%;
    background-image: url("https://static.brusheezy.com/system/resources/previews/000/021/196/non_2x/pink-butterfly-photoshop-wallpaper-photoshop-textures.jpg");
    background-size: cover;
}
#encabezado{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: slateblue;
    display: flex;
}
h1{
    color:darkmagenta;
    margin: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
}
#inicio{
    border-radius: 3px;
    padding: 2px;
    height: 40px;
    background-color:lightblue;
    margin-left: 60%;
    text-decoration: none;/**para sacar el subrayado**/
}
form{
    width: 800px;
}
.pedido{
    width: 80px;
    padding: 5px;
    background-color: red;
    color: antiquewhite;
}